
    body {
      background-color: #F7EFEF;
    }
    h2 {
      color: #2B2D42;
      font-weight: 700;
      font-size: 2.5rem;
    }
    label {
      font-weight: 600;
      color: #2B2D42;
    }
    .form-control {
      background-color: #FFFFFF;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid #d23852;
      font-size: 1.2rem;
      color: #2B2D42;
      font-weight: 500;
    }
    .form-control:focus {
      border-color: #1F2F3C;
      box-shadow: none;
    }
    .btn-primary {
      background-color: #cf5267;
      border-color: #D90429;
      border-radius: 0;
    }
    