<div *ngIf="isOpen" class="sidenav">
    <div class="row">
        <h4>{{ headerText }}</h4>
        <button mat-icon-button aria-label="Close panel" (click)="onClosePanel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa hic assumenda vitae doloribus temporibus accusantium id voluptas eos. Autem cupiditate sit esse possimus facilis consequatur officia est animi! Voluptatem nemo provident fuga explicabo distinctio sed molestias velit, accusantium accusamus cumque cupiditate asperiores nam in magnam reprehenderit quos labore modi maxime!
    </div>
</div>
